<script setup lang="ts">
  /**
   * {{ description }}
   */
  export type {{ componentName }}Props = {
    /**
     * The message displaying in the component.
     */
    msg?: string;
  }

  withDefaults(defineProps< {{ componentName }}Props>(), {
    msg: 'Hello {{ componentName }}!',
  });
</script>

<template>
  <div class="greetings">
    <h1>\{{ msg }}</h1>
  </div>
</template>

<style scoped>
  .greetings {
    color: var(--ink-success-color);
  }
</style>
